.todoForm {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    border-radius: 8px;
    height: 54px;
    background-color: #fff;
    padding: 0 1rem;
}

.todoForm-input {
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    height: 100%;
}

.todoForm-btn {
    outline: none;
    border: none;
    background-color: #484747;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}